.header {
    @apply absolute top-0 left-0 right-0 z-10;
    &-nav {
        &-list {
            @apply flex items-center flex-wrap;
            @apply gap-x-7;
            @apply font-primary text-background font-bold;
            > li > a {
                @apply block;
                &:after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 1px;
                    background-color: currentColor;
                    transition: width 0.3s ease-in-out;
                }
                &:hover:after {
                    width: 100%;
                }
            }
            &-secondery {
                @apply gap-x-14;
            }
        }
    }
    &-menu-button {
        --size: #{getMinMax(25px, 35px)};
        display: grid;
        place-items: center;
        width: var(--size);
        height: var(--size);
    }
}
