<section class="hero">
    <div class="container container-sm">
        <div class="hero-inner">
            <div class="container-sm">
                <h1>Ошибка 401 Unauthorized: что это за ошибка, диагностика и как ее исправить</h1>
                {% include "./html/profile-card.html" %}
                <div class="dates">
                    <span>Опубликовано: 24 июля 2023</span> <span>Обновлено: 25 апреля 2024</span>
                </div>
            </div>
        </div>
    </div>
</section>