<div class="metadata">
    <ul>
        <li>
            {% include "./icons/clock-icon.html" %}
            <span>10 мин</span>
        </li>
        <li>
            {% include "./icons/eye-icon.html" %}
            <span>13144</span>
        </li>
        <li>
            {% include "./icons/heart-icon.html" %}
            <span>56</span>
        </li>
        <li class="relative hover:cursor-pointer group">
            {% include "./icons/share-svgrepo-com.svg" %}
            <span>5</span>
            {% include "./social-share.njk" %}
        </li>
        <li>
            {% include "./icons/comment-icon.html" %}
            <span>1</span>
        </li>
    </ul>
</div>