<div
    class="social-share text-foreground text-sm bg-background hidden group-hover:block"
>
    <ul>
        <li>
            <a href="#" target="_blank" rel="nofollow" title="Поделиться">
                {% include "./icons/vk-icon.html" %}
                <span class="label">ВКонтакте</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="nofollow" title="Поделиться">
                {% include "./icons/x.svg" %}
                <span class="label">X</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="nofollow" title="Поделиться">
                {% include "./icons/telegram.svg" %}
                <span class="label">Telegram</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="nofollow" title="Поделиться">
                {% include "./icons/ok.svg" %}
                <span class="label">Одноклассники</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="nofollow" title="Поделиться">
                {% include "./icons/share-link.svg" %}
                <span class="label">Скопировать ссылку</span>
            </a>
        </li>
    </ul>
</div>
