<ul class="social-list">
    <li><a target="_blank" rel="nofollow" href="#" class="telegram">{% include "./icons/telegram-icon.html" %}</a></li>
    <li><a target="_blank" rel="nofollow" href="#" class="whatsapp">{% include "./icons/whatsapp-icon.html" %}</a></li>
    <li><a target="_blank" rel="nofollow" href="#" class="viber">{% include "./icons/viber-icon.html" %}</a></li>
</ul>