{% set list = ['Что такое ошибка 401', 'Причины ее появления', 'Как ее исправить пользователю','Как ее исправить вебмастеру','Примеры текстов 401-й
','Коротко о главном','Популярные вопросы','Список использованных источников'] %}

<div class="toc sticky top-24">
    <p class="toc-title">Содержание</p>
    <ul class="toc-list">
        {% for item in list %}
            <li class="toc-list-item"><a href="#" class="toc-link">{{item}}</a></li>
        {% endfor %}
    </ul>
</div>